@import "tailwindcss";

@theme {
  --color-primary: #ffd800;
  --color-primary-hover: #eeca00;
}

body {
  letter-spacing: -0.04rem;
  font-weight: 500;
}

* {
  font-family: "Geist", sans-serif !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

.blockContent a {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.blockContent * {
  text-underline-offset: 4px;
}

.blockContent h1 {
  @apply text-3xl font-semibold sm:text-4xl;
}

.blockContent h2 {
  @apply text-xl font-semibold sm:text-2xl;
}

.blockContent h3 {
  @apply text-lg font-semibold sm:text-xl;
}

.blockContent p,
ul {
  opacity: 0.8;
}

.blockContent ul {
  list-style: inherit;
  margin-left: 20px;
}
